/* css styles*/

body {
    margin: 0 0 0 0;
}



.firstbox { 

        background-color: black;
        color: white;
        margin: 0;
        
}

.logo {

     width: auto;
     margin-top: 0px;
     margin-left: 0px;
     font-weight: bold;
     font-style: oblique;
     font-family: cursive;
     text-shadow: 1px 1px rgb(41, 41, 41);
     padding: 25px 0 0 50px;
     font-size: 60px;
     
     
}

button {

     background-color:black;
     color: white;
     font-weight: bold;
     border-radius: 15%; 
     margin: 0;
     text-shadow: 1px 1px rgb(41, 41, 41);
}

.button {

     margin-left: 15.5in;
     margin-top: -0.5in;
}

h1 {

    margin: 0;
    font-family: cursive;
    padding: 2in 0 0 0.5in;
    font-style: italic;
    text-shadow: 1px 1px rgb(41, 41, 41);
}

.title-img {
    width: 60px;
    height: 50px;
    padding-left: 310px;
    margin-top: -35px;
}

.title-discription {
    width: 100px;

}

